[build]
  base = "test-site"
  publish = "build"
  command = "npm run build"

# Environment var template for Deploy to Netlify button
[template.environment]
  SENTRY_ORG = "Sentry organization slug"
  SENTRY_PROJECT = "Sentry project slug"
  SENTRY_AUTH_TOKEN = "Authentication token for Sentry"

[[plugins]]
  package = "@netlify/plugin-local-install-core"
[[plugins]]
  package = "../sentry-netlify-build-plugin"

  [plugins.inputs]
    sentryProject = "netlify-test-app"
  #   sentryOrg = "test-organization-q3"
